/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

body {
	font-family: sans-serif;
	font-size: 14px;
}

h1 {
	text-align: center;
}
.tym {	
	gap: 10px;
}

.osoba {
	border: 1px solid rgb(167, 159, 159);
	border-radius: 5px;
	padding: 10px 20px;
	box-shadow: 3px 3px 3px rgb(92, 136, 121) ;
	
}
.foto {
	display: flex;
	justify-content: center;
}
.foto img {
	border-radius: 50%;
	max-width: 100%;
	
}
.jmeno {

}

.popis {
	text-align: center;
	padding: 0px 20px;	
}



@media (min-width: 500px) {
	.tym {
		display: flex;
		flex-wrap: wrap;
		
		gap: 10px;
		}
.osoba {
	display: flex;
	flex: 1 1 40%;
}
.popis {
	overflow: hidden;
}
}

@media (min-width: 1000px) {
	.tym {
		flex-wrap: nowrap;
		}
.osoba {
flex: 1 1 23%;	
display: block;
text-align: center;
}
}

